input {
	display: block;
	margin: 10px 0px;
}

#uploaded, #thumbnail, #thumbnail_upload_button {
	float: left;
}

#thumbnail, #thumbnail_upload_button{
	clear: both;
}

#thumbnail {
	position: relative;
	overflow: hidden;
	width: 156px;
	height: 156px;
}