form {
	clear: both;
	display: block;
	margin: 10px 0px;
}

#uploaded, #thumbnail, #thumbnail_upload_button {
	float: left;
}

#thumbnail, #thumbnail_upload_button {
	position: relative;
	display: inline-block;
}

#thumbnail {
	overflow: hidden;
	width: 156px;
	height: 156px;
}

ul#thumbnail_list {
	list-style-type: none;
}

ul#thumbnail_list li {
	display: inline;
	margin-left: 20px;
}