form {
	clear: both;
	display: block;
	margin: 10px 0px;
}

#uploaded {
	float: left;
}

#thumbnail, #thumbnail_upload_button {
	float: right;
	position: relative;
	display: inline-block;
}

#thumbnail {
	overflow: hidden;
	width: 156px;
	height: 156px;
}